@import "tailwindcss";

body {
  @apply bg-gray-950;
}

.nav-link {
  @apply text-gray-300 transition-colors p-2.5 hover:text-blue-600;
}

.modal-input {
  @apply bg-gray-900 rounded w-full text-lg text-white outline-0 py-2 px-4;
}

.section-btn {
  @apply border-2 rounded-full text-white text-lg py-2 px-5;
}

.footer-column {
  @apply flex flex-col gap-y-2.5 flex-1;
}

.footer-link {
  @apply text-gray-100 hover:underline w-fit;
}
