@import "tailwindcss";
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-gray-950;
}

.nav-link {
  @apply text-gray-300 transition-colors p-2.5 hover:text-blue-600;
}

.modal-input {
  @apply bg-gray-900 rounded w-full text-lg text-white outline-0 py-2 px-4;
}

.section-btn {
  @apply border-2 rounded-full text-white text-lg py-2 px-5;
}

.footer-column {
  @apply flex flex-col gap-y-2.5 flex-1;
}

.footer-link {
  @apply text-gray-100 hover:underline w-fit;
}

.modal-open {
  overflow: hidden;
}

.menu-option {
  @apply flex gap-x-3 items-center text-gray-100 py-2 px-3 hover:bg-gray-800 cursor-pointer duration-300 rounded;
}

.oauth-btn {
  @apply bg-gray-900 rounded w-full text-white text-lg cursor-pointer py-2 font-bold hover:bg-gray-800 duration-300 flex items-center justify-start px-5 gap-x-5;
}

.profile-header {
  @apply text-white text-xl font-bold flex items-center gap-x-3;
}

.profile-section {
  @apply bg-gray-900 rounded-lg py-5 px-10 flex flex-col gap-y-5;
}
